@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import './variables.css';

* {
  font-family: var(--font-family-base);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0A0A0A;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #000;
  color: #fff;
  position: relative;
}

.app-content {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  padding-bottom: 96px;
}

.app-tabbar {
  position: fixed;
  bottom: 16px;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
