:root{
    --font-family-base: 'Roboto', sans-serif;

    /*Buttons*/
    --button-bg-color-light: #FFF;
    --button-bg-color-dark: #1F1F1F;;
    --button-bg-color-pressed-light: #D8D8D8;
    --button-bg-color-pressed-dark: #1F1F1F;
    --button-bg-color-disable: #AEAEAE;
    --button-text-color-light: #1F1F1F;
    --button-text-color-dark: #EAEAEA;
    --button-text-color-hover-light: #4C4C4C;
    --button-text-color-hover-dark: #C8C8C8;
    --button-text-color-disable: #6A6A6A;

    /*Inputs*/
    --input-bg: #1F1F1F;
    --input-text: #FFFFFF;
    --input-label-color: rgba(255, 255, 255, 0.60);
    --input-placeholder: #6A6A6A;
    --input-border-focus: #3A3A3C;
    --input-border-hover: #2C2C2E;
    --input-icon-color: #EAEAEA;
    --input-helper-text: rgba(255, 255, 255, 0.60);
    --input-helper-icon: rgba(255, 255, 255, 0.60);
    --input-helper-link: #FFF;
    --input-helper-link-hover: #409CFF;
    --input-helper-link-active: #0070E0;
    --input-error: #FF3B30;
    --input-error-focus: #FF453A;
    --input-bg-disabled: #0D0D0D;
    --input-text-disabled: #4A4A4A;
    --input-placeholder-disabled: #3A3A3A;

    /*MiniPlayer*/
    --miniplayer-bg: #EAEAEA;
    --miniplayer-cover: rgba(203, 199, 199, 1);
    --miniplayer-proggres-bar: rgba(31, 31, 31, 0.20);
    --miniplayer-proggres-bar-fill: #1F1F1F;
    --miniplayer-proggres-bar-thumb: #1F1F1F;
    --miniplayer-controls: #1F1F1F;
    --miniplayer-primary-text: rgba(31, 31, 31, 0.80);
    --miniplayer-secondary-text: rgba(31, 31, 31, 0.60);
    --miniplayer-action: rgba(31, 31, 31, 0.40);
    --miniplayer-action-liked: #ff3b5c;
    --miniplayer-action-liked-hover: #ff1744;

}