.container{
    display: flex;
    gap: 12px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

@media (min-width: 420px) and (max-width: 470px) {
    .container {
        gap: 6px;
    }
}