.form {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 16px;
}

.welcome {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 8px;
}

.welcome h2 {
    font-size: 36px;
    font-family: 'Philosopher', sans-serif;
    font-weight: 600;
    line-height: normal;
}

.welcome p {
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    color: rgba(255, 255, 255, 0.8);
}

.submits {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 16px;
    justify-content: space-between;
    margin-top: -8px;
}

.link {
    color: #ffffff;
    text-decoration: underline;
    transition: opacity 0.2s ease;
}

.link:hover {
    opacity: 0.8;
}