# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.*.local
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Documentation/00_Response_Format.txt
Documentation/01_Music_Endpoints.txt
Documentation/02_Auth_Endpoints.txt
Documentation/03_User_Endpoints.txt
Documentation/04_Chat_Endpoints.txt
Documentation/05_File_Endpoints.txt
Documentation/06_Distribution_Endpoints.txt
Documentation/07_Library_Endpoints.txt
Documentation/08_Report_Endpoints.txt
Documentation/09_UserExperience_Endpoints.txt
Documentation/10_ClientSettings_Endpoints.txt
Documentation/11_Access_Endpoints.txt
Documentation/12_Collection_Endpoints.txt
Documentation/13_Share_Endpoints.txt
Documentation/All_DTOs.txt
