/* Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.40);
  backdrop-filter: blur(16px);
  display: flex;
  width: 100%;
  align-items: end;
  z-index: 1000;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}


/* Modal Container */
.modal {
  background-color: #0A0A0A;
  border-radius: 32px 32px 0 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  animation: slideUp 0.3s ease-out;
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.40) inset;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Header */
.header {
  padding-top: 16px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  flex-shrink: 0;
}

.title {
  color: #EAEAEA;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  flex: 1;
}

/* Close Button */
.closeButton {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  display: flex;

  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.2s ease;
  color: #EAEAEA;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 36px;
  height: 36px;
  z-index: 1;
}

.closeButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.closeButton:active {
  background-color: rgba(255, 255, 255, 0.15);
}

.closeButton svg {
  width: 14px;
  height: 14px;
}

.content {
  padding-top: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #EAEAEA;
  gap:64px;
  margin-bottom: 64px;
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
}

.content::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.content::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}
