.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    position: relative;
}

.tabSliderWrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}