.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
    background: #181818;
    padding: 32px 40px;
    width: 100%;

    position: relative;
    overflow: hidden;
}

.content {
    width: 60%;
}

.title {
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 12px;
}

.description {
    margin: 0;
    font-size: 12px;
    line-height: 1.4;
    color: #e0e0e0;
}

.shape {
    position: absolute;
    top: 0;
    right: 0;
}

.arrow {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    rotate: -45deg;
    background-color: #ffffff;
    min-height: 36px;
    min-width: 36px;
    border-radius: 16px;
}