.header{
    display: flex;
    flex-direction: column;
    padding: 33px 8px 0;
    gap: 20px;
}
.title{
    font-family: 'Philosopher', serif;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    color: #FFFFFF;
    margin: 0;
}

.searchWrapper{
    padding-top: 6px;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.searchWrapper > * {
    width: 100%;
}
