.title{
    font-family: 'Philosopher', serif;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    color: #FFFFFF;
    padding: 0 16px;
    margin: 0;
}

.searchWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
}

.searchWrapper > * {
    width: 100%;
    max-width: 362px;
}
