.dotsContainer {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 11px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}

.dot.active {
    width: 4px;
    height: 16px;   
    background-color: rgba(255, 255, 255, 1);
}