.container {
  color: white;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 32px;
}

.header h2 {
  margin-bottom: 12px;
  font-family: 'Philosopher', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: white;
}

.header p {
  margin: 0;
  font-family: 'Sora', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}
.inputContainer{
  display: flex;
  flex-flow: column;
  gap: 24px;
  width: 100%;
}
.submits{
  display: flex;
  flex-flow: column wrap;
  gap: 16px;
  align-items: center;
  margin-top: 107px;
  width: 100%;
}


.createAccount {
  background: none;
  border: none;
  color: #EAEAEA;
  font-family: 'Sora', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.23px;
  text-align: center;
  cursor: pointer;
  margin-top: 16px;
  padding: 8px 10px;
  text-decoration: none;
}