.container {
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1;
  min-width: 0;
}

.header {
  margin: 8px 0 32px 8px;
}

.header h2 {
  margin-bottom: 12px;
  font-family: 'Philosopher', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: var(--text-primary);
}

.header p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: var(--text-secondary);
}

.form {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.inputContainer{
  display: flex;
  flex-flow: column;
  gap: 16px;
  width: 100%;
}

.actions {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: auto;
    flex: 0 0 auto;
}

.submits {
    margin-top: -8px;
}

.actions > * {
    width: 100%;
}

.submits {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.submits > * {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.createAccount {
    background: none;
    border: none;
    color: var(--button-text-dark);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.23px;
    text-align: center;
    cursor: pointer;
    padding: 8px 10px;
    text-decoration: none;
    margin-top: 16px;
}

.hiddenButton {
    display: none !important;
}